.DS_Store
node_modules/
/dist/
dist.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/config
config
build.zip
dist.zip
config.zip
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
